<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bill.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @bill.timeframe %>
</p>

<%= link_to 'New Vote', new_vote_path(bill_id: @bill.id) if @bill.status %>

<p>
  <strong>Constituent votes:</strong>
</p>

<table>
<tbody>
  <% @bill.votes.each do |vote| %>
  <tr>
    <td><%= vote.yes_no %></td>
    <td><%= link_to 'Edit', edit_vote_path(vote) %></td>
    <td><%= link_to 'Destroy', vote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
</tbody>
</table>







<p>
  <strong>The most popular Constituent choice:</strong>
  <%= @bill.popular_vote %>
</p>

<p>
  <strong>Congressperson's vote:</strong>
  <%= @bill.yes_no %>
</p>

<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Back', bills_path %>
